$wideminwidth: 768px !default;

// Paths
$fonts_dir : '~corteza-webapp-one/src/themes/corteza-base/fonts/' !default;

// Typography
$regular: 'nunito_sansregular' !default;
$bold: 'nunito_sansbold' !default;
$semibold: 'nunito_sanssemibold' !default;

// Color system
$white:         #fff !default;
$black:         #000 !default;
$primary:       #1397CB !default;
$secondary:     #90A3B1 !default;
$success:       #2FBC95 !default;
$warning:       #FFCC32 !default;
$danger:        #E85568 !default;
$light:         #F3F3F5 !default;
$dark:          #1e2224 !default;
